<% provide :title, t(".title") %>
<% provide :h1_tag, t(".h1_tag") %>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag("anh1.jpg") %>
      <div class="caption">
        <h3>...</h3>
        <p>...</p>
        <p>
          <%= link_to t(:details), "#", class: "btn btn-primary", role: "button" %>
          <%= link_to t(:addcart), "#", class: "btn btn-default", role: "button" %>
        </p>
      </div>
    </div>
  </div>
</div>
